<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="adminEmail" value="aspdicmail@gmail.com" />
    <add key="creditinalEmail" value="aspdicmail@gmail.com"/>
    <add key="creditinalPassword" value="connect12"/>
  </appSettings>
  <system.web>
    <customErrors defaultRedirect="/Login.aspx" mode="Off"></customErrors>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="409600" executionTimeout="3600000" />
    <membership defaultProvider="DictionaryMembers">
      <providers>
        <add name="DictionaryMembers" connectionStringName="Membership" maxInvalidPasswordAttempts="100" passwordAttemptWindow="10" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" applicationName="Dictionary" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DictionaryRoles">
      <providers>
        <add name="DictionaryRoles" type="System.Web.Security.SqlRoleProvider" connectionStringName="Membership" applicationName="Dictionary" />
      </providers>
    </roleManager>
    <sessionState timeout="20"></sessionState>
    <authentication mode="Forms">
      <forms name=".crm" timeout="240" loginUrl="/Login.aspx" defaultUrl="/" slidingExpiration="true" cookieless="UseCookies" protection="All"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages theme="Default" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="Ilian Stoianov &lt;stoianov.ilian@gmail.com&gt;" deliveryMethod="Network">
        <network host="***.*****.***" port="000" />
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <!--<deny users="*" />-->
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WriteAReview.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdvancedSearch.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--Local From Me -->
    <add name="Membership" connectionString="Server=ILIAN-PC\SQLEXPRESS;Database=Dictionary;User ID=ilian;Password=connect" providerName="System.Data.SqlClient" />
    <add name="DictionaryEntities" connectionString="metadata=res://*/App_Code.DictionaryModel.csdl|res://*/App_Code.DictionaryModel.ssdl|res://*/App_Code.DictionaryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ILIAN-PC\SQLEXPRESS;Initial Catalog=Dictionary;User ID=ilian;Password=connect;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>